<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Grocery</title>
    <link rel="stylesheet" href="css/grocery.css">
    <script
      src="https://kit.fontawesome.com/7c58a17dae.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>

    <section class="container">

        <nav class="navi">
            <div class="nav__button" onClick="navOpen()">
                <i class="nav-icon fas fa-bars"></i>
            </div>
            <div class="nav__opened" style="display: none;">
                <div>
                    <a href="grocery"><i class="nav-icon fas fa-shopping-bag"></i></a>
                </div>
                <div>
                    <a href="emergency"><i class="nav-icon fas fa-ambulance"></i></a>
                </div>

                <div onClick="navClose()">
                    <i class="nav-icon fas fa-times"></i>
                </div>

                <div>
                    <a href="medical"><i class="nav-icon fas fa-briefcase-medical"></i></a>
                </div>
                <div>
                    <a href="tips"><i class="nav-icon far fa-lightbulb"></i></a>
                </div>
                </div>
            </div>
            
            
        </nav>


        <div class="g__header">
            <div class="l_head">
                <a href="/"><i class="back_icon fas fa-chevron-left"></i></a>
                 Groceries
            </div>

            <div class="r_head">
                <div>
                    <i class="search_icon fas fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
                
            </div>
        </div>

        <div class="mid__section">
            <p class="row__heading">Nearby</p>
            <p class="side__heading">View More <i class="next fas fa-arrow-circle-right"></i></p>
            <div class="row">
              <div class="card">
                <div class="card__image">
                    <a href="grocery_list"><img src="images/shop_1.jfif" alt="" srcset=""></a>
                </div>
                <div class="card__text">
                    <p>Mishra General Store</p>
                </div>
              </div>

              <div class="card">
                <div class="card__image">
                    <a href="grocery_list"><img src="images/shop_2.jfif" alt="" srcset=""></a>
                </div>
                <div class="card__text">
                    <p>Mishra General Store</p>
                </div>
              </div>

              <div class="card">
                <div class="card__image">
                    <a href="grocery_list"><img src="images/shop_3.jfif" alt="" srcset=""></a>
                </div>
                <div class="card__text">
                    <p>Mishra General Store</p>
                </div>
              </div>



            
    
              
              
            </div>
        </div>

        <div class="mid__section">
            <p class="row__heading">Within 2 Kms</p>
            <p class="side__heading">View More <i class="next fas fa-arrow-circle-right"></i></p>
            <div class="row">
              <div class="card">
                <div class="card__image">
                    <img src="images/shop_4.jfif" alt="" srcset="">
                </div>
                <div class="card__text">
                    <p>Mishra General Store</p>
                </div>
              </div>

              <div class="card">
                <div class="card__image">
                    <img src="images/shop_5.jfif" alt="" srcset="">
                </div>
                <div class="card__text">
                    <p>Mishra General Store</p>
                </div>
              </div>

              <div class="card">
                <div class="card__image">
                    <img src="images/shop_2.jfif" alt="" srcset="">
                </div>
                <div class="card__text">
                    <p>Mishra General Store</p>
                </div>
              </div>
            
              <div class="card">
                <div class="card__image">
                    <img src="images/shop_3.jfif" alt="" srcset="">
                </div>
                <div class="card__text">
                    <p>Mishra General Store</p>
                </div>
              </div>
              
              
            </div>
        </div>



    </section>







    <script src="js/nav.js"></script>
</body>
</html>