body {
    font-family: 'Poppins', sans-serif;
}
.inputs {
    /* width: 300px; */
    overflow: hidden;
}
    /* .add-contact {
        display: none;
    } */
.headBack {
    position: absolute;
    background-color: rgba(206,225,223,255);
    height: 25vh;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    align-content: center;
    color: rgba(56,114,109,255);
}
.emergency {
    padding-top: 8vh;
}
.forHR {
    margin: auto;
}
#hrEmergency {
    margin: 0;
    margin-bottom: 20px; 
    margin-left: auto; 
    margin-right: auto ;
    padding: 0; 
    width: 14vh; 
    border:3px solid rgba(56,114,109,255); 
    border-bottom: 0px; 
    border-left: 0px; 
    border-right: 0px;
}
.active {
    background-color: rgba(55,112,104,255);
}

.allAndNearMe {
    background-color: #96bfb9;
    display: inline-block;
    /* padding: 5px 15px; */
    border-radius: 20px;
    
}
.hello {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 23vh;
    z-index: 3;
    color: white;
    
}
.all {
    /* background-color: rgba(55,112,104,255); */
    height: inherit;
    width: inherit;
    display: inline-block;
    padding: 5px 15px;
    height: 100%;
    border-radius: 20px;
}
.nearMe {
    height: inherit;
    width: inherit;
    display: inline-block;
    padding: 5px 15px;
    height: 100%;
    border-radius: 20px;
}
.cnct {
    /* float: left; */
    padding-left: 15px;
    font-size: 28px;
    display: inline-block;

}
.dGreen {
    background-color: rgba(55,112,104,255);
}
.new {
    float: right;
    padding-right: 15px;
    font-size: 24px;
    color: rgba(55,112,104,255);
}
.list {
    height: 60px; 
    background-color: rgba(206,225,223,255);
    margin-bottom: 10px;
    width: 90%;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(55,112,104,255);
}
.addNew {
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.parentList {
    display: flex;
    justify-content: center;
}
.contentName {
    font-size: 24px;
    padding-top: 12px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
}
.modal-content {
    background-color: rgba(206,225,223,255);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.send {
    text-decoration: none;
    border: none;
    background-color: rgba(55,112,104,255);
    border-radius: 25px;
    padding: 10px 15px;
    color: white;
    margin-left: 70%;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.backParent {
    display: inline-block;
    justify-content: center;
    position: fixed;
    margin-left: 20%;
    margin-top: 10vh;
    z-index: 3;
}

.cross {
    float: right; 
    color: red;
}

.add-new {
    color: rgba(55,112,104,255);
}